:root {
	scrollbar-color: #404040 #202020;
	scrollbar-width: thin;

	image-rendering: pixelated;

	color: white;
	font-size: small;
	font-family: sans-serif;
}

#root {
	width: 100vw;
	height: 100vh;
}

#root > div {
	display: flex;
	flex-wrap: wrap;
}

#root > div > div {
	padding: 8px;

	border: 1px dashed #0000008a;

	width: var(--box-size);
	aspect-ratio: 1 / 1;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

#root > div > div:hover {
	background: #0000003a;
}

#root > div > div[no-name] {
	font-style: italic;
	color: #f9f952;
}

#root > div > div[duplicate] {
	color: tomato;
}

#root > div > div > img,
#root > div > div > div {
	margin: unset; /* browser */
	position: unset; /* browser */

	user-select: none;

	width: calc(var(--dmi-size) * var(--scale));
}

#root > div > div > span {
	max-width: 100%;

	line-height: 18px;

	text-overflow: ellipsis;
	text-wrap: nowrap;
	overflow: hidden;
}
